* {
    box-sizing: border-box;
}
article, h1, aside, footer {
    padding: 20px;
}
h1 { background-color: gray;
}
article {
    width: 60%;
    float: left;
}
aside {
    width: 100%;
    height:fit-content 100%;
    float: center;
    padding: 20px;
    border-radius: 20px;
}
body {
    padding-left: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    background-color: burlywood;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: grey
}
li {
    float: left;
    display: inline;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: aliceblue;
}
img {
    max-width: 100%;
    height: auto;
}


footer {
    background-color: grey;
    clear: both;
    text-align: center;
}
